<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">

    <test name="Chrome Test">
        <parameter name="Browser" value="CHROME" />
        <classes>
        <class name="Runners.Run"/>
        </classes>
    </test>
<!---
    <test name="Test 2">
        <parameter name="Browser" value="FF" />
        <classes>
            <class name="Runners.Run"/>
        </classes>
    </test>
-->
</suite>